
*{
   box-sizing:none;
   font-family: 'Gotham', arial, sans-serif;
}

body {
	margin:0;
	padding:0;
}


.body {
	width: 100%;	
}

.image {
	width: 100%;
	z-index: -150;
}


.exposure { 
	background: url(images/camera.jpg); 
}

.program-details {
	background: url(images/sarah2.jpg);
}

.student-work1 {
	background: url(images/uva.jpg);

}

.student-work2 {
	background: url(images/lightbulb.jpg);
}

.student-work3 {
	background: url(images/original.jpg);
	height
}

.student-work4 {
	background: url(images/steamy.jpg);
	
}

.student-work5 {
	background: url(images/chess.jpg);
	
}

.student-work6 {
	background: url(images/leaf.jpg);
}

.student-work7 {
	background: url(images/flag.jpg);
	
}

.page {
	width: 100%;
	height: 710px;
	background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    position: relative;
}

.textbox {
	width: 550px;
	height: 400px;
	background-color: rgba(0, 0, 0, .6);
	position: absolute;
	top: 190px;
	left: 100px
}

.button-one{
	height: 50px;
	width: 190px;
	border: 2px solid white;
	position:absolute;
	top: 320px;
	left: 59px;
	padding-top:10px;
}

.button-two {
	height: 50px;
	width: 215px;
	border: 2px solid white;
	position:absolute;
	top: 320px;
	left: 285px;
	padding-top: 10px;
}

h1 {
	z-index: 1;
	color: white;
	text-align: center;
	margin-bottom: 0;
	font-size: 50px;
}

p {
	font-size: 20px;
	color: white;
	text-align: center;
	margin-bottom: 0;
}
.text {
	height: 400px;
	width: 500px;
	margin-left: auto;
	margin-right:auto;
	border: 12px solid white;
}
.photography {
	margin-bottom:0px
}

.dates { 
	font-size: 20px;
	font-style: italic;
 }

.perfect {
	margin-top: 20px;
	font-size: 20px;
	margin-left:auto;
	margin-right:auto;
	font-style: italic;
}

.learn {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.start {
	margin-top: 15px;
	margin-left: auto; 
	margin-right: auto;
}

h2 {
	color: white;
	text-align: center;
	margin-top:10px;
}


/* nav bar */


.container{
   height:100px;
}

.nav-bar{
   height:100px;
   padding-top:20x;
   padding-bottom:20px;
   color:white;
}

.col-md-7{
   height:100px;
}

.logo-top{
   height:100%;
   padding-top:10px;
   padding-bottom:10px;
   padding-left:20px;
}

.col-md-1{
   height: 100px;
   line-height: 100px;
   white-space: nowrap;
}

.super-bar{
   width:100%;
   background: rgba(0, 0, 0, 0.75);
}

@font-face {
  font-family: 'Gotham';
  src: url('GothamMedium.otf') format('embedded opentype');
}

/* nav bar */

