
body {
	margin:0;
	padding:0;
}

.page {
	width: 100%;
	height: 710px;
}
.image {
	width: 100%;
	height: 100%;
}


*{
   box-sizing:none;
   font-family: 'Gotham', arial, sans-serif;

}

.container{
   height:100px;
}

.nav-bar{
   height:100px;
   padding-top:20x;
   padding-bottom:20px;
   color:white;
}

.col-md-7{
   height:100px;
}

.logo-top{
   height:100%;
   padding-top:10px;
   padding-bottom:10px;
   padding-left:20px;
}

.col-md-1{
   height: 100px;
   line-height: 100px;
   white-space: nowrap;
}

.super-bar{
   width:100%;
   background: rgba(0, 0, 0, 0.75);
}

@font-face {
  font-family: 'Gotham';
  src: url('GothamMedium.otf') format('embedded opentype');
}

