*{
   box-sizing:none;
   font-family: 'Gotham', arial, sans-serif;

}

.container{
   height:100px;
}

.nav-bar{
   height:100px;
   padding-top:20x;
   padding-bottom:20px;
   color:white;
   font-size:20px;
}

.logo-top{
   height:100px;
   width:100px;
   padding-top:10px;
   padding-bottom:10px;
   padding-left:20px;
}

.col-md-1{
   height: 100px;
   line-height: 100px;
   white-space: nowrap;
   font-size:16px;
}

.eve{
   padding-left:30px;
}

.super-bar{
   width:100%;
   background: rgba(0, 0, 0, 0.75);
}

@font-face {
  font-family: 'Gotham';
  src: url('GothamMedium.otf') format('opentype');
}

@media (max-width: 1000px){
   .col-md-7 {
       width: 30%;
       display:inline-block;
   }
   .col-md-1{
       font-size:14px;
       width:13%;
       display:inline-block;
   }
}

@media (max-width: 600px){
   .container{
      padding:0px;
   }
   .col-md-7 {
       width: 25%;
       display:inline-block;
       padding-right:0px;
   }
   .col-md-1{
       padding-left:2px;
       padding-right:2px;
       font-size:12px;
       height:50px;
   }
}
